.results {
  padding: 2.5em 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 45%;
    left: 0;

    width: 70px;
    height: 100px;

    background: url('../img/results/decoLeft.png') center/cover no-repeat;
  }

  .h2 {
    padding-bottom: 1.5em;
  }

  &__title {
    font-size: rem(14px);
    line-height: rem(19px);
    text-align: center;
    padding-bottom: 20px;
  }

  &__slider {
    @include centry(83%);
    background-color: black;
  }

  .swiper-slide {
    align-self: center;
  }

  picture {
    display: inline-block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .swipeIcon {
    margin: 0.5em auto;
  }
}

@media (min-width: 1023px) {
  .results {
    &__slider {
      @include centry(53%);
    }
  }
}
