.reviews {
  padding: 2.5em 0;

  background: url('../img/reviews/background.jpg') center/cover no-repeat;

  .h2 {
    padding-bottom: 1.5em;
  }

  &__title {
    font-size: rem(14px);
    line-height: rem(19px);
    text-align: center;
    padding-bottom: 20px;
  }

  &__slider {
    background-color: black;
  }

  .swiper-slide {
    align-self: center;
  }

  picture {
    display: inline-block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .swipeIcon {
    margin: 0.5em auto;
  }
}

@media (min-width: 1023px) {
  .reviews {
    &__slider {
      @include centry(40%);
    }
  }
}
