//Here I create simple CSS variable (Sass variable) by purpose because I need to access to ::before of services__face-sign button
:root {
  --faceSignWidth: 60px;
}

.services {
  padding: 2em 0;

  .container {
    width: unset;
  }

  .h2 {
    padding-bottom: 1.5em;
  }

  &__title {
    font-size: rem(14px);
    line-height: rem(19px);
    text-align: center;
    padding-bottom: 20px;
  }

  .services__face {
    position: relative;
    width: max-content;
    display: block;
    margin: 0 auto;

    &-picture {
      display: inline-block;
      width: 100%;
      height: 43vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        vertical-align: middle;
      }
    }

    &-btns {
      button {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: #8569af;
        border: none;
        cursor: pointer;

        position: absolute;
        // I did not forget to delete this - it is necessary to save here:
        top: 0;
        left: 0;

        &::before {
          content: '';
          display: block;
          width: var(--faceSignWidth);
          height: 1px;
          background-color: #453b4b;
          position: absolute;
          left: 180%;
          top: -10px;
        }

        &::after {
          content: '';
          display: block;
          width: 20px;
          height: 1px;
          background-color: #453b4b;
          position: absolute;
          left: 24px;
          top: 0;
          -webkit-transform-origin: left;
          -moz-transform-origin: left;
          -o-transform-origin: left;
          -ms-transform-origin: left;
          transform-origin: left;
          -webkit-transform: rotate(330deg);
          -moz-transform: rotate(330deg);
          -o-transform: rotate(330deg);
          -ms-transform: rotate(330deg);
          transform: rotate(330deg);
        }

        &:active {
          background-color: $fontPurpleDark;
        }
      }

      .toForehead {
        //top: 70px;
        top: 25%;
        left: 10%;
      }

      .toMesotherapy {
        top: 9%;
        left: 77%;
        transform: scale(-1, 1);
      }

      .toEye {
        top: 46%;
        left: 6%;
      }

      .toLeftCheek {
        top: 45%;
        left: 87%;
        transform: scale(-1, 1);
      }

      .toNose {
        top: 54%;
        left: 78%;
        transform: scale(-1, 1);
      }

      .toLips {
        top: 61%;
        left: 13%;
      }
    }
  }

  &__guide {
    border: 1px solid #a79a9a;
    border-radius: 10px;
    background-color: #f6f0ff;
    padding: 1em 0.5em;

    .h3 {
      font-size: rem(16px);
      line-height: rem(22px);
      text-align: center;
      font-weight: 600;
    }
  }

  &__consultation {
    @include centry(80%);
    padding: 1em 0em;

    .dark {
      @include centry(300px);
      @include flexy();
      height: 63px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      color: $fontPurpleDark;
      text-decoration: none;
      border-radius: 40px;
      border: none;
    }

    .services-list {
      padding-top: 1em;
      @include centry(100%);
    }
  }
}

@media (min-width: 767px) {
  .services {
    .services__face {
      &-picture {
        height: 50vh;
      }
    }

    &__guide {
      @include centry(80%);
    }

    .services-list {
      width: 60%;
    }
  }
}

@media (min-width: 1023px) {
  .services {
    .btnsBlock {
      justify-content: center;
      gap: 5%;
    }

    &__guide {
      @include centry(50%);
    }

    .services-list {
      width: 38%;
    }
  }
}
