.services {
  padding: 2.5em 0;

  .container {
    width: unset;
  }

  .h2 {
    padding-bottom: 1.5em;
  }

  &__title {
    font-size: rem(14px);
    line-height: rem(19px);
    text-align: center;
    padding-bottom: 20px;
  }

  .swiper-slide {
    align-self: center;
  }

  .services__face {
    position: relative;

    width: max-content;
    display: block;
    margin: 0 auto;

    border: 2px solid blue;

    &-picture {
      display: inline-block;
      width: 100%;
      height: 43vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-sign {
      button {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: #8569af;
        border: none;

        position: absolute;
        // I did not forget to delete this - it is necessary to save here:
        top: 0;
        left: 0;

        &::before {
          content: '';
          display: block;
          width: 60px;
          height: 1px;
          background-color: #453b4b;

          position: absolute;
          //left: 30px;
          left: 180%;
          top: -10px;
        }

        &::after {
          content: '';
          display: block;
          width: 20px;
          height: 1px;
          background-color: #453b4b;

          position: absolute;
          left: 24px;
          top: 0;

          transform-origin: left;

          transform: rotate(330deg);
        }
      }

      .toForehead {
        //top: 70px;
        top: 25%;
        left: 10%;
      }

      .toMesotherapy {
        top: 9%;
        left: 77%;
        transform: scale(-1, 1);
      }

      .toEye {
        top: 46%;
        left: 6%;
      }

      .toLeftCheek {
        top: 45%;
        left: 87%;
        transform: scale(-1, 1);
      }

      .toNose {
        top: 56%;
        left: 83%;
        transform: scale(-1, 1);
      }

      .toLips {
        top: 61%;
        left: 11%;
      }
    }

    /*
    &-sign {
      width: 33%;
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;

      background-color: red;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;

        display: block;
        width: 20%;
        height: 3px;
        background-color: green;

        transform-origin: left;

        transform: rotate(150deg);
      }

      button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #8569af;

        position: absolute;
        left: 5%;
        top: -5%;
      }
    }
    */
  }
}
