.whyMe {
  padding: 3.5em 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 60px;
    height: 70px;

    background: url('../img/whyMe/decoRight.png') center/cover no-repeat;
  }

  &__content {
    padding: 2em 0;
    ul {
      @include flexy(column);
      gap: 2.1em;
    }

    li {
      @include flexy(row, normal, center);
      gap: 2em;
    }

    img {
      width: 68px;
      height: 68px;
    }

    p {
      font-size: rem(14px);
      line-height: rem(19px);
    }

    span {
      font-weight: 600;
    }
  }
}
