.modalHand {
  &__img {
    display: inline-block;
    position: relative;

    button {
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background-color: #8569af;
      border: none;

      position: absolute;
      top: 35%;
      left: 65%;
    }
  }

  img {
    display: block;
    float: right;
    width: 90%;
    //height: 100%;
    object-fit: contain;
  }
}
