.modalMasks {
  .btnsBlock {
    gap: 1em;
  }
  .service-block {
    padding: 1em 0em;
  }

  &__slider {
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .swipeIcon {
    padding-bottom: 2em;
    margin: 0 auto;
  }
}
