.modalNosetherapy {
  height: 100vh;
  overflow-y: scroll;

  .container {
    padding-bottom: 3em;
  }

  .service-block {
    padding: 1em 0em;
  }

  &__slider {
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .swipeIcon {
    padding: 1em 0em;
    margin: 0 auto;
  }
}
