//the most frequent text color on the web-page
$mainTextColor: #453b4b;

//pop up's text color and some other places
$fontAccentColor: #8f8d90;

//text color on btns, bold font
$fontPurpleDark: #29073e;

//font color for h2, or h1 etc.
$fontTitleColor: #8569af;
